{% extends 'base.html' %}
{% block title %}Matthew Iannucci - Code Portfolio{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/code.css') }}">
	<div id="container">
		<div id="quickLinkContainer">
			<a id="githubLink" class="quick-link" href="https://github.com/mpiannucci">
				<img src="{{ url_for('static', filename='img/GitHub_Logo_White.png') }}" style="width: 180px"/>
			</a>
			<a id="resumeLink" class="quick-link" href="{{ url_for('static', filename='doc/MatthewIannucciResume.pdf') }}">
				<h1>Resume</h1>
			</a>
			<a id="linkedInLink" class="quick-link" href="https://www.linkedin.com/in/matthew-iannucci-64a8847a">
				<img src="{{ url_for('static', filename='img/LI-Logo.png') }}" style="width: 300px"/>
			</a>
		</div>
		<div id="appsContainer">
			<h1>Apps</h1>
			<div id="hopewaves" class="app-row">
				<a href="https://hopewaves.appspot.com"><img class="app-icon" src="{{ url_for('static', filename='img/hopewaves-icon.png') }}"></a>
				<div class="app-content-container">
					<a href="https://hopewaves.appspot.com"><h1>HopeWaves</h1></a>
					<h4>A local surf forecasting service and app for Rhode Island</h4>
					<p>Running on <a href="https://cloud.google.com/appengine/">Google App Engine</a>, this automated surf forecast pulls in data from <a href="https://polar.ncep.noaa.gov/waves/wavewatch">NOAA's Wave Watch III</a> wave model and generates a custom surf forecast for the Rhode Island coastline. It also packages local beach cameras, buoy data, tide forecasts, and weather information into a easily digestible and modern interface.</p>
					<div class="keyword-container">
						<div class="keyword-pill">
							Python
						</div>
						<div class="keyword-pill">
							Google Cloud
						</div>
						<div class="keyword-pill">
							Firebase
						</div>
						<div class="keyword-pill">
							React
						</div>
						<div class="keyword-pill">
							React Native
						</div>
						<div class="keyword-pill">
							JavaScript
						</div>
						<div class="keyword-pill">
							TypeScript
						</div>
						<div class="keyword-pill">
							Objective-C
						</div>
						<div class="keyword-pill">
							Swift
						</div>
						<div class="keyword-pill">
							Java
						</div>
						<div class="keyword-pill">
							iOS
						</div>
						<div class="keyword-pill">
							Android
						</div>
						<div class="keyword-pill">
							Web
						</div>
						<div class="keyword-pill">
							Scientific
						</div>
					</div>
				</div>
			</div>
			<div id="govalet" class="app-row">
				<a href="https://www.govaletapp.com/"><img class="app-icon" src="{{ url_for('static', filename='img/GoValet.png') }}"></a>
				<div class="app-content-container">
					<a href="https://www.govaletapp.com/"><h1>GoValet - Valet on the Go</h1></a>
					<h4>A cloud based mobile Valet service and app</h4>
					<p>Running in Google Cloud with Firebase, GoValet is a modern Valet solution enabling digital payments, customer notifications, digital ticket management, and more. Written in Flutter, the cross platform mobile app serves as a control conter for Valet companies and an easy to use payment solution for valet customers. Customers without the app can request their vehicles and pay online without needing to download the app. It is currently used in production for various companies throughout Rhode Island.</p>
					<div class="keyword-container">
						<div class="keyword-pill">
							Python
						</div>
						<div class="keyword-pill">
							Google Cloud
						</div>
						<div class="keyword-pill">
							Firebase
						</div>
						<div class="keyword-pill">
							Stripe
						</div>
						<div class="keyword-pill">
							Twilio
						</div>
						<div class="keyword-pill">
							Flutter
						</div>
						<div class="keyword-pill">
							Dart
						</div>
						<div class="keyword-pill">
							JavaScript
						</div>
						<div class="keyword-pill">
							TypeScript
						</div>
						<div class="keyword-pill">
							Objective-C
						</div>
						<div class="keyword-pill">
							Swift
						</div>
						<div class="keyword-pill">
							Java
						</div>
						<div class="keyword-pill">
							iOS
						</div>
						<div class="keyword-pill">
							Android
						</div>
						<div class="keyword-pill">
							Web
						</div>
					<div>
				</div>
			</div>
		</div>
	<div>
{% endblock %}