<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_row.css') }}">

<div id="quickLinkContainer">
	<a id="githubLink" class="quick-link" href="https://github.com/mpiannucci">
		<img src="{{ url_for('static', filename='img/GitHub_Logo_White.png') }}" style="width: 90px"/>
	</a>
	<a id="emailLink" class="quick-link text-link" href="mailto:rhodysurf13@gmail.com">
		Email
	</a>
	<a id="resumeLink" class="quick-link text-link" href="{{ url_for('static', filename='doc/MatthewIannucciResume.pdf') }}">
		Resume
	</a>
	<a id="linkedInLink" class="quick-link" href="https://www.linkedin.com/in/matthew-iannucci-64a8847a">
		<img src="{{ url_for('static', filename='img/LI-Logo.png') }}" style="width: 145px"/>
	</a>
</div>