{% extends 'base.html' %}
{% block title %}Matthew Iannucci - Photography{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/photography.css') }}">

<!-- <div id="photoViewer" class="photo-viewer">
	<img id="selectedPhoto" class="selected-photo" src="{{ url_for('static', filename='img/photos/stone_left.jpg') }}">
	<div style="flex: 1; justify-content: center; align-items: center; flex-direction: row;" onclick="closePhotoViewer()">Close</div>
</div> -->

<div id="container">
	<div id="wave_of_winter" class="photo-tile" onclick="onPhotoClick(this.id)">
		<img class="photo" src="{{ url_for('static', filename='img/photos/wave_of_winter.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/allen_tube.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/backsplash.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/cooper_1.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/backsplash.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/allen_orange.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/seagull_tube.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/curtis.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/off_the_top_light.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/dock_behind_tube.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/longboard.jpg') }}">
	</div>
	<div class="photo-tile">
		<img class="photo" src="{{ url_for('static', filename='img/photos/stone_left.jpg') }}">
	</div>
</div>

<script>

function onPhotoClick(id) {
	document.getElementById("selectedPhoto").src = '/static/img/photos/' + id + '.jpg';
	document.getElementById("photoViewer").style.visibility = 'visible';
}

function closePhotoViewer() {
	document.getElementById("photoViewer").style.visibility = 'hidden';
}

</script>

{% endblock %}